*.mp4
*.jpg
adblock.txt
hosts.txt
client_secret.json
homeegregius-6d02ff673a38.json
service-account-credentials.json
logs/*
.well-known/*
pychromecast/*
secure/phpmyadmin/tmp/twig/*
secure/phpMyAdmin/tmp/*
floorplan.appcache