body{background:#ccc;font:78%/120% "Verdana", "Arial", "Helvetica", sans-serif;margin:0 auto;padding:0;}
div.dataTables_length{float:left;}
dataTables_filter{float:right;visibility:hidden}
div.dataTables_info{float:left;}
div.dataTables_paginate{float:right;}
div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info{padding:0px;}
div.dataTables_wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .dataTables_wrapper{display:block;}
* html .dataTables_wrapper{height:1%;}
table.pretty{width:500px;clear:both;font:90%/100% verdana, Helvetica, sans-serif;table-layout:fixed}
table.pretty td, table.pretty th{padding:10px;border:1px solid #BBB;}
table.pretty thead th{background:#999;text-decoration:underline;font-size:110%;cursor:pointer}
table.pretty thead th.center{text-align:center;background:#999;text-decoration:underline;cursor:pointer}
table.pretty tbody th{}
table.pretty tbody td{padding:2px 10px 2px 10px}
table.pretty tbody tr.odd td{background:#AAA;}
table.pretty tbody tr.group td{background:#CCC;font-size:130%; font-weight:bold; color:#00A}
table.pretty tfoot {display: table-header-group;}
table.pretty tfoot th{}
table.pretty tfoot td{text-align:center;font-weight:bold;}
div.dataTables_wrapper{}
table.pretty thead th.sorting_asc{background:#999 url('/images/sort_asc.png') no-repeat right center;}
table.pretty thead th.sorting_desc{background:#999 url('/images/sort_desc.png') no-repeat right center;}
table.pretty thead th.sorting{background:#999}
a.paginate_button,
a.paginate_active{display:inline-block;background-color:#BBB;padding:2px 6px;margin-left:2px;cursor:pointer;cursor:hand;}
a.paginate_active{background-color:transparent;border:1px solid black;}
a.paginate_button_disabled{color:#777;}

.btn{min-width:120px;background-color:#333;padding:2px 5px 2px 5px;margin:0px;color:#ccc;text-align:center;display:inline-block;border:0px solid transparent;-webkit-appearance:none;white-space:nowrap;overflow:hidden;}
.btn:hover{color:#000;background-color:#ffba00;}
.btna{color:#000;background-color:#f5b324;}